<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.reserve-mapper">
  <select id="foodListData" resultType="com.sist.dao.FoodVO" parameterType="string">
    SELECT fno,name,poster,rownum
    FROM food_location 
    WHERE rownum&lt;=50
    AND type LIKE '%'||#{type}||'%'
    ORDER BY fno ASC
  </select>
</mapper>