<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.board_reply-mapper">
  <!-- 목록 가지고 오기 -->
  <select id="boardReplyListData" resultType="BoardReplyVO" parameterType="hashmap">
    SELECT no,subject,name,TO_CHAR(regdate,'YYYY-MM-DD') as dbday,hit,isreply,group_id,group_tab,num
    FROM (SELECT no,subject,name,regdate,hit,isreply,group_id,group_tab,rownum as num
    FROM (SELECT no,subject,name,regdate,hit,isreply,group_id,group_tab
    FROM project_replyBoard ORDER BY group_id DESC,group_step ASC))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  <!-- 총페이지 -->
  <select id="boardReplyTotalPage" resultType="int">
    SELECT CEIL(COUNT(*)/10.0) FROM project_replyBoard
  </select>
  <!-- 
                       group_id(게시물=답변)    group_step(답변,일반게시물)  group_tab  isreply(답변완료)
         AAAAA            2            0           0         1
           =>BBBBBB       2            1           1         0
         CCCCC            1            0           0         1
           =>DDDDDD       1            1           1         0
  
   -->
  <!-- 상세 보기 -->
  <!-- 수정 , 삭제 -->
  <!-- 추가(사용자) -->
  <insert id="boardReplyInsert" parameterType="BoardReplyVO">
    <selectKey keyProperty="no" resultType="int" order="BEFORE">
      SELECT NVL(MAX(no)+1,1) as no FROM project_replyBoard
    </selectKey>
    INSERT INTO project_replyBoard(no,name,subject,content,pwd,group_id)
    VALUES(#{no},#{name},#{subject},#{content},#{pwd},
     (SELECT NVL(MAX(group_id)+1,1) FROM project_replyBoard)
    )
  </insert>
  <!-- 답변 달기(어드민)-->
  <select id="boardReplyAdminData" resultType="BoardReplyVO">
    SELECT * FROM project_replyBoard
    WHERE isreply!=1 AND group_step!=1
    ORDER BY no DESC
  </select>
  <!-- 내용보기  , 일반 유저 , 관리자 -->
  <update id="boardReplyHitIncrement" parameterType="int">
    UPDATE project_replyBoard SET
    hit=hit-1
    WHERE no=#{no}
  </update>
  <update id="boardReplyHitDecrement" parameterType="int">
    UPDATE project_replyBoard SET
    hit=hit+1
    WHERE no=#{no}
  </update>
  <select id="boardReplyDetailData" resultType="BoardReplyVO" parameterType="int">
    SELECT no,name,subject,content,hit,TO_CHAR(regdate,'YYYY-MM-DD') as dbday,group_id,group_step
    FROM project_replyBoard
    WHERE no=#{no}
  </select>
  
  <!--  어드민에서 답변 달기 -->
  <select id="boardReplyInfoData" resultType="int" parameterType="int">
    SELECT group_id FROM project_replyBoard 
    WHERE no=#{no}
  </select>
  <insert id="boardReplyInsertOk" parameterType="BoardReplyVO">
    <selectKey keyProperty="no" resultType="int" order="BEFORE">
      SELECT NVL(MAX(no)+1,1) as no FROM project_replyBoard
    </selectKey>
    INSERT INTO project_replyBoard(no,name,subject,content,pwd,group_id,group_step,group_tab)
    VALUES(#{no},#{name},#{subject},#{content},#{pwd},
     #{group_id},1,1
    )
  </insert>
  <update id="boardReplyIsReply" parameterType="int">
    UPDATE project_replyBoard SET
    isreply=1
    WHERE no=#{no}
  </update>
</mapper>









