<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.food-mapper">
  <!-- 맛집 카테고리 읽기 -->
  <select id="foodCategoryData" resultType="FoodCategoryVO">
   <!-- 
         List<FoodCategoryVO> = selectList
         FoodCategoryVO       = selectOne
    -->
    SELECT cno,title,subject,poster 
    FROM food_category
  </select>
</mapper>