<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.goods-mapper">
  <select id="goodsHomeData" resultType="GoodsVO" parameterType="string">
    SELECT no,goods_poster as poster,goods_name as name,goods_price as price,rownum
    FROM (SELECT no,goods_poster,goods_name,goods_price 
    FROM ${table_name} ORDER BY no ASC)
    WHERE rownum&lt;=3
  </select>
  <!--  데이터 출력  -->
  <select id="goodsListData" resultType="GoodsVO" parameterType="hashmap">
    SELECT no,goods_poster as poster,goods_name as name,goods_price as price,num
    FROM (SELECT no,goods_poster,goods_name,goods_price,rownum as num
    FROM (SELECT no,goods_poster,goods_name,goods_price
    FROM ${table_name} ORDER BY no ASC))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  <!-- 총페이지 -->
  <select id="goodsTotalPage" resultType="int" parameterType="string">
    SELECT CEIL(COUNT(*)/9.0) FROM ${table_name}
  </select>
</mapper>