<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.reserve-mapper">
  <select id="reserveFoodData" resultType="FoodVO" parameterType="string">
    SELECT fno,poster,name,rownum
    FROM (SELECT fno,poster,name FROM food_house WHERE type LIKE '%'||#{type}||'%' ORDER BY fno ASC)
    WHERE rownum&lt;=50
  </select>
  <!-- 예약 날짜 -->
  <select id="reserveGetDate" resultType="string" parameterType="int">
    SELECT rday FROM food_house
    WHERE fno=#{fno}
  </select>
  <select id="reserveGetTime" resultType="string" parameterType="int">
    SELECT time FROM reserve_day
    WHERE rno=#{rno}
  </select>
  <select id="reserveRealTime" resultType="string" parameterType="int">
    SELECT time FROM reserve_time
    WHERE tno=#{tno}
  </select>
  
  <!-- 예약 등록 
       NO      NOT NULL NUMBER       
	ID               VARCHAR2(20) 
	FNO              NUMBER       
	RDAY    NOT NULL VARCHAR2(50) 
	RTIME   NOT NULL VARCHAR2(50) 
	INWON   NOT NULL VARCHAR2(30) 
	REGDATE          DATE         
	ISCHECK          CHAR(1) 
  -->
  <insert id="reserveInsert" parameterType="com.sist.vo.ReserveVO">
   <selectKey keyProperty="no" resultType="int" order="BEFORE">
     SELECT NVL(Max(no)+1,1) as no FROM reserve
   </selectKey>
   INSERT INTO reserve(no,id,fno,rday,rtime,inwon)
   VALUES(#{no},#{id},#{fno},#{rday},#{rtime},#{inwon})
  </insert>
  <!-- mypage에서 출력 -->
  <select id="reserveMypageData" resultType="com.sist.vo.ReserveVO" parameterType="string">
    SELECT no,rday,rtime,inwon,ischeck,regdate,
           (SELECT name FROM food_house WHERE fno=reserve.fno) as name,
           (SELECT poster FROM food_house WHERE fno=reserve.fno) as poster,
           (SELECT address FROM food_house WHERE fno=reserve.fno) as address,
           (SELECT tel FROM food_house WHERE fno=reserve.fno) as tel,
           (SELECT type FROM food_house WHERE fno=reserve.fno) as type
    FROM reserve
    WHERE id=#{id}
    ORDER BY no DESC
  </select>
  
  <select id="reserveAdminpageData" resultType="com.sist.vo.ReserveVO">
    SELECT no,rday,rtime,inwon,ischeck,regdate,id,
           (SELECT name FROM food_house WHERE fno=reserve.fno) as name,
           (SELECT poster FROM food_house WHERE fno=reserve.fno) as poster,
           (SELECT address FROM food_house WHERE fno=reserve.fno) as address,
           (SELECT tel FROM food_house WHERE fno=reserve.fno) as tel,
           (SELECT type FROM food_house WHERE fno=reserve.fno) as type
    FROM reserve
    ORDER BY no DESC
  </select>
  <!-- 예약 완료 -->
  <update id="reserveAdminUpdate" parameterType="int">
    UPDATE reserve SET
    ischeck='y'
    WHERE no=#{no}
  </update>
  <!-- 예약 취소 -->
  <delete id="reserveCancel" parameterType="int">
    DELETE FROM reserve
    WHERE no=#{no}
  </delete>
  
  <select id="reserveInfoData" resultType="com.sist.vo.ReserveVO" parameterType="int">
    SELECT no,rday,rtime,inwon,ischeck,TO_CHAR(regdate,'YYYY"년도" MM"월" DD"일" HH24:MI:SS') as dbday,
           (SELECT name FROM food_house WHERE fno=reserve.fno) as name,
           (SELECT poster FROM food_house WHERE fno=reserve.fno) as poster,
           (SELECT address FROM food_house WHERE fno=reserve.fno) as address,
           (SELECT tel FROM food_house WHERE fno=reserve.fno) as tel,
           (SELECT type FROM food_house WHERE fno=reserve.fno) as type
    FROM reserve
    WHERE no=#{no}
  </select>
</mapper>











