@charset "UTF-8";

/*   쿠키   */
.c-delete {
  float: right;
  font-size: 14px;
  color: #797979;   
}

.c-d-all {
  text-align: right;
  font-size: 12px;
  color: #797979;   
}
/* -------- */



/*   기업   */
table {
  width: 100%;
  height: 90px;
  max-height: 90px;
  table-layout: fixed;
}

.c-logo {
  width: 40%;
  vertical-align: middle;
  text-align: center;
}

.c-logoimg {
  width: 100%;
  height: auto;
  max-width: 130px;
  max-height:90px
}

.pad-5 {
  padding: 5px;
}

.unit {
  border: 1px solid rgb(239 239 239);
  padding: 10px;
}

.c-content {
  vertical-align: top;
  width: 60%;
  padding: 0px 0px 0px 5px;
}

.c-name {
  margin: 8px;
  text-align: center;
}
/* -------- */



/*   공고   */
.greentag {
  border: 1px solid #017576;
  border-radius:5px;
  background-color: #017576;
  color: #fff;
  padding: 3px;
  display: inline-block;
}

.greytag {
  border: 1px solid #d6d6d6;
  border-radius:5px;
  background-color: #d6d6d6;
  color: #797979;
  padding: 3px;
  display: inline-block;
}

.lightgreytag {
  border: 1px solid #F2F2F2;
  border-radius:5px;
  background-color: #F2F2F2;
  color: #797979;
  padding: 3px;
  display: inline-block;
}

.redtag {
  border: 1px solid #F78181;
  border-radius:5px;
  background-color: #F78181;
  color: #fff;
  padding: 3px;
  display: inline-block;
}

.lightbluetag {
  border: 1px solid #d6d6d6;
  border-radius:5px;
  background-color: #7F9BB9;
  color: #FFFFFF;
  padding: 3px;
  display: inline-block;
}

.favorite {
	float: right;
	font-size: 16px;
	color: #797979;
}

.f-favorite {
  float: right;
  font-size: 16px;
  color: yellow;
}


.adplus {
  text-decoration: none;
  text-align: right;
  font-size: 12px;
  color: rgb(214,214,214);
}
/* -------- */



/* 책 추천 홍보  */
.book {
  background-color: #F2F2F2;
  font-size: 18px;
  text-align: center;
  font-style: italic;
  padding: 25px;
  border-radius: 20px;
}
/* -------- */


/* 게시판  */
sup {
  color: rgb(255, 0, 0);
}


.post-category {
  color: #017576;
}

.boardplus { 
  text-decoration: underline;
  float: right;
}
/* -------- */



/* 슬라이더  */
.slider-logo {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.multi-slider {
  margin: 0 35px auto;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-track {
  display: flex;
}

.slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}
/* -------- */



/* 링크 언더바 제거 */
a,
a:link,
a:active,
a:hover {
  text-decoration: none;
}