@charset "UTF-8";

input[type=text], input[type=password] {
  padding: 8px 8px;
  border: 1px solid #d6d6d6;
}

.btn-primary {
  padding: 10px 70px;
  width: 70%;
  margin-right: 5px;
}

#ok{
  display: none;
}

#ok-btn {
  padding: 7px 10px; 
}

:focus {
  outline: 1px solid 
}