<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.member-mapper">
  <select id="memberNameCount" resultType="int" parameterType="string">
   SELECT COUNT(*) FROM project_member
   WHERE name=#{name}
  </select>
  <select id="memberGetEmail" resultType="string" parameterType="string">
   SELECT email FROM project_member
   WHERE name=#{name}
  </select>
  <select id="emailIdFind" resultType="string" parameterType="hashmap">
    SELECT RPAD(SUBSTR(id,1,1),LENGTH(id),'*') FROM project_member
    WHERE name=#{name} AND email=#{email}
  </select>
  
  <select id="memberGetTel" resultType="string" parameterType="string">
    SELECT tel FROM project_member
    WHERE name=#{name}
  </select>
  
  <select id="telOdFind" resultType="string" parameterType="hashmap">
    SELECT RPAD(SUBSTR(id,1,1),LENGTH(id),'*') FROM project_member
    WHERE name=#{name} AND tel=#{tel}
  </select>
</mapper>